# Node.js dependencies
node_modules/

# Lock & package files
package.json
package-lock.json
yarn.lock
pnpm-lock.yaml

# Editor settings
.vscode/
.idea/

# macOS system files
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
